# Ignore all subdirectories, because they are nested Git repositories.
/*/
# Unignore files in subdirectories, so that they do not show up as ignored in IntelliJ. Git will not track files in nested Git repositories.
!/*/**
# Unignore gradle wrapper subdirectory.
!/.gradlew

# Gradle
/.gradle
/build

# IntelliJ
/.idea
/out

# Eclipse
/.project
/.settings
/.classpath
/.factorypath
/bin

# Java
*.hprof
