[submodule "coronium"]
	path = coronium
	url = ../coronium.git
	branch = master
[submodule "spoofax.eclipse"]
	path = spoofax.eclipse
	url = ../spoofax.eclipse.git
	branch = master
[submodule "pie"]
	path = pie
	url = ../pie.git
	branch = master
[submodule "spoofax"]
	path = spoofax
	url = ../spoofax.git
	branch = master
[submodule "log"]
	path = log
	url = ../log.git
	branch = master
